@font-face {
  font-family: 'GilroyLight';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

:root {
  --basic-black: #000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-gray: #464646;
  --basic-red: red;
  --basic-half-gray: #7E7E7E;
  --basic-gray-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-gray: #DCDCDC;
  --special-gray-light: #EBEBEB;
  --special-hover-gray: #D9D9D9;
  --special-input: #F2F2F2;
  --decoration-line: #FFC600;
  --special-gray-second: #dbdbdb;
  --alternative-gray: #ababab;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  min-width: 1180px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

/* img {
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
  color: var(--basic-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  cursor: pointer;
  display: block;
  width: 220px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  z-index: 2;
}

.button::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 99%;
  height: 8px;
  left: 0;
  top: 7px;
  background-color: var(--special-yellow-dark);
}

.button:hover::before {
  height: 40px;
  top: -8px;
}

.button:active {
  color: rgba(255, 0, 0, 0.3);
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.inner-html .container {
  padding-left: 58px;
}

.inner-main .container {
  width: 1155px;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 54px;
  padding-right: 54px;
  background-color: var(--special-yellow);
}

.inner-html .main-header {
  padding-left: 54px;
  padding-right: 53px;
}

.main-header .logo {
  margin-top: -20px;
  margin-bottom: 17px;
}

.logo svg:hover {
  opacity: 0.6;
}

.logo svg:active {
  opacity: 0.3;
}

.search-top {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.search-field {
  width: 100%;
  border: none;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 14px;
  padding-left: 38px;
  background-color: transparent;
}

.search-filter {
  padding-top: 67px;
}

.search-field::placeholder {
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus::placeholder {
  visibility: hidden;
}

.search-field:focus,
.search-field:hover {
  border-bottom: 1px solid #000;
  outline: 0;
}

.search-field:focus~.search-button {
  display: block;
}


.button {
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.button-custom {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 22px;
  width: 264px;
}

.search-button {
  display: none;
  position: relative;
  padding: 15px 13px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  font-family: initial;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-menu {
  z-index: 10;
}

.main-menu li {
  list-style: none;
}

.user-menu {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu a {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
}

.user-menu-card {
  width: 240px;
  padding-left: 14px;
}

.user-menu-card--compare svg {
  margin-right: 8px;
}

.user-menu-card li:first-child {
  padding-left: 0;
}

.user-menu-card svg {
  margin-top: 2px;
}

.user-menu-wrap {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}

.user-menu li:hover {
  opacity: 0.6;
}

.user-menu li:active {
  opacity: 0.3;
}

.user-login {
  width: 258px;
  margin-left: 88px;
}

.user-login .logout {
  margin-left: -10px;
  cursor: pointer;
}

.user-menu a {
  display: block;
  padding-left: 30px;
}

.user-menu-card--basket {
  position: relative;
}

li.user-menu-card--basket {
  padding-left: 35px;
}

.user-menu-card--basket::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon_cart.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.user-menu-card--compare::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_chart.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.user-login::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_user.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.top-navigation-item--dropdown:hover .sub-menu {
  display: flex;
}


.sub-menu-list {
  padding: 0;
  margin-left: 63px;
}

.sub-menu-list li {
  padding-bottom: 8px;
}

.sub-menu-list .top-navigation-item {
  margin-top: 8px;
}

.sub-menu-list a {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
}

.sub-menu-list li:first-child {
  margin-top: 0;
}

.sub-menu-list:first-child {
  margin-left: 0;
}

.catalog-menu {
  position: absolute;
  z-index: 5;
  display: none;
  width: 1040px;
  margin: 0;
  background-color: var(--special-yellow);
  padding-top: 29px;
  padding-bottom: 32px;
}

.inner-html .catalog-menu {
  left: 144px;
  padding-left: 56px;
  width: 1152px;
}

.top-navigation-item--dropdown:hover .catalog-menu,
.top-navigation-item--dropdown>a:focus~.catalog-menu {
  display: flex
}

.top-navigation--first span {
  position: relative;
}

.top-navigation--first span::before {
  content: '';
  position: absolute;
  width: 15.4px;
  height: 15.4px;
  right: -33px;
  top: 3px;
  background-image: url('../img/plus.svg');
  opacity: 0.3;
}

.top-navigation {
  padding-bottom: 164px;
  margin-left: 2px;
}

.inner-html .top-navigation {
  padding-bottom: 47px;
}

.top-navigation-item:nth-child(2) {
  margin-right: 35px;
}

.top-navigation-item:last-child {
  margin-left: auto;
}

.site-navigation-link {
  font-family: 'GilroyBold', 'Arial';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 22px;
}

.top-navigation--first {
  display: block;
  letter-spacing: 0.1em;
  width: 540px;
}

.site-navigation-link:hover,
.sub-menu-list li:hover {
  opacity: 0.6;
}

.site-navigation-link:active,
.sub-menu-list li:active {
  opacity: 0.3;
}

.sliders {
  position: relative;
  list-style: none;
  margin-top: -108px;
  margin-left: 32px;
}

.slider-item img {
  position: relative;
}

.slider-item:nth-child(1) img {
  top: -25px;
  left: 12px;
}

.slider-item:nth-child(2) img {
  top: 0px;
  left: 39px;
}

.slider-item:nth-child(3) img {
  top: 57px;
  left: -47px;
}

.slider-header {
  z-index: 4;
  margin: 0;
  padding: 0;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.slider-item {
  display: none;
}

.slider-item--active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-content {
  position: relative;
  z-index: 1;
  margin-top: 69px;
  width: 556px;
}

.slider-content::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: -60px;
}

.slider-item:nth-child(1) .slider-content::after {
  content: '';
  position: absolute;
  width: 182px;
  height: 170px;
  background-image: url('../img/01.png');
  background-repeat: no-repeat;
  top: -66px;
  right: 38px;
}

.slider-item:nth-child(2) .slider-content::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 212px;
  height: 170px;
  background-image: url('../img/02.png');
  background-repeat: no-repeat;
  top: -66px;
  right: 34px;
}

.slider-item:nth-child(3) .slider-content::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 212px;
  height: 170px;
  background-image: url('../img/03.png');
  background-repeat: no-repeat;
  top: -66px;
  right: 39px;
}

.slider-text {
  width: 478px;
  margin: 0;
  padding: 0;
  margin-top: 26px;

  font-family: 'OpenSansLight', 'Arial', sans-serif;
  line-height: 20px;
}

.sliders .button {
  margin-top: 60px;
  width: 220px;
  padding-left: 23px;
  padding-right: 18px;
}

.slider-params {
  margin-top: 60px;
  padding: 0;
  display: grid;

  gap: 8px;
  list-style: none;
}

.slider-item:nth-child(1) .slider-params {
  grid-template-columns: 153px 128px 153px;
}

.slider-item:nth-child(2) .slider-params {
  grid-template-columns: 1fr;
}

.slider-item:nth-child(3) .slider-params {
  grid-template-columns: 140px 140px;
  gap: 20px;
}

.slider-params-title {
  margin: 0;
  font-family: 'GilroyLight', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.1em;
  font-size: 36px;
  line-height: 42px;
}

.slider-params-text {
  font-family: 'GilroyLight', 'OpenSans', 'Arial', 'Helvetica', sans-serif;

  margin: 0;
  padding: 0;
  margin-top: 15px;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
}

.slider-navigation {
  z-index: 1;
  display: flex;
  width: 112px;
  position: absolute;
  right: 228px;
  top: 536px;
  justify-content: space-between;
  list-style: none;
}


.slider-navigation a {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

a.slider-navigation--active::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.popular {
  margin-top: 76px;
  margin-bottom: 184px;
}

.popular .container {
  width: 1204px;
}

.popular-item {
  margin-left: 21px;
  padding-top: 193px;
}


.popular-item a {
  position: relative;
  display: block;
  padding-top: 23px;
}

.popular-item a::before {
  content: '';
  position: absolute;
  top: -180px;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.popular-item a::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.popular-item:nth-child(1) a::after {
  background-image: url('../img/popular-1.svg');
  width: 97px;
  height: 55px;
  top: -123px;
  right: 51px;
}

.popular-item:nth-child(2) a::after {
  background-image: url('../img/popular-2.svg');
  width: 85.87px;
  height: 117px;
  top: -149px;
  right: 56px;
}

.popular-item:nth-child(3) a::after {
  background-image: url('../img/popular-3.svg');
  width: 85.87px;
  height: 117px;
  top: -139px;
  right: 50px;
}

.popular-item:nth-child(4) a::after {
  background-image: url('../img/popular-4.svg');
  width: 107.31px;
  height: 64.99px;
  top: -127px;
  right: 46px;
}

.popular-item:nth-child(5) a::after {
  background-image: url('../img/popular-5.svg');
  width: 56.01px;
  height: 97.98px;
  top: -144px;
  right: 73px;
}

.popular-item:nth-child(6) a::after {
  background-image: url('../img/popular-6.svg');
  width: 132.03px;
  height: 69.01px;
  top: -130px;
  right: 36px;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}

.popular-link {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.services {
  margin-top: 49px;
  min-height: 288px;
  background-color: var(--basic-gray-light);
  list-style: none;
}

.services .button-service {
  width: 160px;
}

.services .button-service--active {
  width: 280px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  text-align: left;
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.button-service--active::before {
  display: none;
}

.services .container {
  display: flex;
  position: relative;
  top: -89px;
  left: -3px;
}

.service-navigation,
.service-list {
  list-style: none;
}

.service-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.service-navigation-item {
  margin-top: 32px;
}

.service-navigation-item:first-child {
  margin-top: 0px;
}

.service-navigation-item:last-child {
  margin-top: 39px;
}

.service-navigation::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);

  right: -3px;
  top: -78px;
}

.service-list {
  width: 611px;
  margin-left: 79px;
}

.service-title {
  margin-bottom: 39px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-text {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-item::before {
  content: '';
  position: absolute;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
}

.service-item {
  display: none;
}

.service-item--active {
  display: block;
}

.service-delivery::before {
  background-image: url('../img/delivery.svg');
  right: -58px;
  top: 60px;
}

.service-warranty::before {
  background-image: url('../img/warranty.svg');
  right: -41px;
  top: 41px;
}

.service-loan::before {
  background-image: url('../img/credit.svg');
  right: -33px;
  top: 38px;
}

.brands .container {
  width: 1160px;
}

.brands-list {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  gap: 40px;
  list-style: none;
}

.brands-item {
  opacity: 0.3;
}

.brands-item:hover {
  opacity: 1;
}

.about-us {
  margin-top: 90px;
}

.about-us .container {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 127px;
  margin-bottom: 80px;
}

.info {
  width: 473px;
}

.info .button,
.main-contact .button {
  margin-top: 77px;
}

.main-contact {
  width: 560px;
}

.info h3,
.main-contact h3 {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info h3::before,
.main-contact h3::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;

  top: -57px;
  background-color: var(--basic-black);
}

.info p,
.main-contact p {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.info-list {
  margin: 0;
  padding: 0;
  margin-left: 32px;
  margin-top: 60px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.info-list li {
  margin-bottom: 15px;
}

.info-list li:last-child {
  margin-bottom: 0px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.inner-footer .container {
  width: 1172px;
  padding: 0;
}

.inner-footer .logo {
  margin-top: 60px;
}

.logo-and-menu-wrapper {
  display: flex;
  margin-bottom: 28px;
}

.user-menu--footer {
  margin-left: auto;
  width: 344px;
  margin-top: 47px;
}

.inner-html .user-menu--footer {
  width: auto;
  margin-top: 38px;
}

.inner-html .footer-second-menu {
  width: 500px;
  display: flex;
  margin-left: auto;
}

.logout-footer a {
  margin-left: 0;
  padding: 0;
}

.footer-second-menu ul {
  margin-left: 38px;
}

.inner-html .user-shop--footer {
  margin-left: 32px;
}

.user-shop--footer li:first-child {
  margin-left: -9px;
}

.user-shop--footer li:last-child {
  margin-left: 35px;
}

.footer-second-menu ul:first-child {
  margin-left: 4px;
}

.user-menu-item--login,
.user-menu-item--chart {
  position: relative;
}

.user-menu--footer li {
  width: auto;
  margin-left: 35px;
}

.footer-second-menu--inner li {
  margin-left: 25px;
}

.user-menu--footer li:first-child {
  margin: 0;
}

.user-menu--footer .user-menu-item--login::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_user--yellow.svg');
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.user-menu--footer .user-menu-item--chart::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-chart--yellow.svg');
  background-position: 8px 12px;
}

.user-menu--footer .user-menu-item--basket::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-basket--yellow.svg');
  background-position: 8px 10px;
}

.address-and-menu-wrapper {
  display: flex;
}

.footer-address {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  width: 240px;
}

.main-footer .site-navigation {
  flex-wrap: wrap;
  width: 682px;
  justify-content: center;
}

.main-footer .container {
  width: 1173px;
}

.site-navigation--footer li {
  margin-left: 34px;
}

.site-navigation--footer li:first-child {
  margin-left: 0px;
}

.main-footer .footer-tel {
  width: 189px;
  text-align: right;
  display: block;
  margin-left: 50px;
}

.main-footer .logo {
  margin-top: 70px;
}

.inner-footer .logo {
  margin-top: 60px;
}

.main-footer,
.main-footer a {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.decoration-line {
  width: 80px;
  height: 7px;
  margin-top: 27px;
  background-color: var(--decoration-line);
}

.social {
  display: flex;
  width: 960px;
  justify-content: center;
  list-style-type: none;
}

.social-wrapper {
  margin-top: 49px;
  display: flex;
}

.social-item {
  margin-left: 19px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-item svg {
  opacity: 0.3;
}

.social-item svg:hover {
  opacity: 1;
}

.social-item svg:active {
  opacity: 0.1;
}

.developer {
  margin-left: 93px;
  padding-top: 14px;
}

.developer img:hover {
  opacity: 0.6;
}

.developer img:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  justify-content: center;
}

.modal-map {
  display: none;
  z-index: 2;
  width: 994px;
  min-height: 554px;

  margin-left: -497px;
  margin-top: -277px;
}

.modal-form {
  display: none;
  z-index: 2;
  width: 960px;
  min-height: 550px;
  margin-left: -480px;
  margin-top: -275px;

  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal .button--close {
  cursor: pointer;
  position: absolute;
  border: 0;
  font-size: 0;
  right: 35px;
  top: 30px;

  width: 55px;
  height: 55px;
  background-image: url('../img/modal-close.svg');
  background-color: transparent;
  opacity: 0.3;
}

.modal-form .button--close {
  top: 20px;
  right: 20px;
}

.modal .button--close:hover {
  opacity: 1;
}

.modal .button--close:active {
  opacity: 0.7;
}

.modal-form form {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form .first-block {
  display: flex;
  justify-content: space-between;
}

.modal-form label {
  font-family: 'GilroyBold', 'OpenSans', 'Arial';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.modal-form input,
.modal-form textarea {
  padding: 25px 20px;
  width: 100%;
  border: 0;
  background-color: var(--special-input);
}

.modal-form input {
  margin-top: 5px;
  height: 20px;
}

.modal-form textarea {
  height: 172px;
  font-size: 14px;
  margin-top: 5px;
  padding-top: 20px;
  font-size: 14px;
}

.modal-form input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-letter {
  margin-top: 15px;
}

.modal-form .container {
  width: 760px;
  margin: 0 auto;
}

.first-block p {
  width: 360px;
}

.modal-button {
  margin-top: 15px;
  width: 200px;
  padding: 0;
  cursor: pointer;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: bold;
  border: 0;
  background: transparent;
}


.breadcrumb-title {
  margin: 0;
  padding: 0;
  margin-top: 44px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;

  list-style: none;
}

.breadcrumb-item {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  position: relative;
  margin-left: 40px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumb-item:first-child {
  margin-left: 0;
}

.breadcrumb-item a:hover {
  opacity: 0.6;
}

.breadcrumb-item a:active {
  opacity: 1;
}

.breadcrumb-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -22px;
  background-image: url('../img/icon_arrow_nav.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 4px;
  height: 7px;
}

.sorting-left {
  position: relative;
  background-color: var(--special-gray);
  align-items: flex-end;
  width: 348px;
}

.header-filter-title {
  margin: 0;
  margin-top: 25px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  margin-right: 192px;
}

.sorting .header-filter-title {
  margin-left: 72px;
  margin-right: 0;
  margin-top: 0;
}

.sorting-top {
  display: flex;
}

.column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}



.sorting-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 68px;
  margin-top: -6px;
}

.sorting {
  display: flex;
  flex-direction: row;
  background-color: var(--basic-gray-light);
  padding: 25px 0;

  width: 852px;
}

.sorting-option button {
  background-color: transparent;
  border: none;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;

  opacity: 0.3;
}

.sorting-option {
  margin-left: 18px;
}

.sorting-option:first-child {
  margin-left: 0;
}

.sorting-option button {
  cursor: pointer;
}

.sorting-option button:hover {
  opacity: 0.6;
}

.sorting-option button:active {
  opacity: 1;
}

.sorting-list--arrow {
  margin-top: 4px;
  margin-right: 4px;
}

.sorting-arrow--down {
  margin-left: 20px;
}

.sorting-arrow a {
  display: block;
  background-repeat: no-repeat;
}

.sorting-list--arrow {
  margin-left: 218px;
}

.sorting-arrow .active {
  opacity: 0.2;
}

.sorting-arrow:hover {
  opacity: 0.4;
}

.sorting-arrow:active {
  opacity: 1;
}

.sorting-up {
  background-image: url('../img/icon-up-dir.svg');
}

.sorting-down {
  background-image: url('../img/icon-down-dir.svg');
}

.sorting-btn {
  width: 10px;
  height: 14px;
}

.left-filter {
  display: flex;
  align-items: flex-end;
  width: 370px;
  padding-right: 16px;
  background-color: var(--basic-gray-light);
}

.filter-section {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 19px;
  border: none;
}

.filter-section-list {
  list-style-type: none;
}

.filter-section legend {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 17px;
  width: 200px;
  padding-top: 14px;
  border-top: 2px solid var(--basic-black);
}

.catalog {
  display: flex;
}

.catalog-modal {
  display: none;
}

.main-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 876px;
  padding-left: 72px;
  font-family: 'GilroyLight', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.05em;
}

.catalog-item {
  margin-right: 40px;
  width: 360px;
}

.catalog-item--new {
  position: relative;
}

.catalog-item--new::before {
  content: '';
  position: absolute;
  width: 62px;
  height: 62px;
  background-image: url('../img/new-icon.png');
  background-repeat: no-repeat;
  top: 28px;
  right: 26px;
}

.catalog-items-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 50px 40px;

  margin-top: 67px;
}

.catalog-item--desc {
  display: flex;
  margin-top: 20px;
  margin-left: 2px;
}

.catalog-item-title {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-item-price {
  font-family: 'GilroyLight', 'Arial', sans-serif;
  display: block;
  font-size: 15px;
  line-height: 18px;
  margin-left: auto;
  margin-top: 5px;
  letter-spacing: 0.05em;
}

.pagination {
  display: flex;
  width: 760px;
  margin-top: 34px;
  margin-bottom: 78px;
  justify-content: center;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  background-color: var(--special-gray-light);
}

.pagination>a {

  padding-left: 30px;
  padding-right: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination-back {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-control:hover {
  background-color: var(--special-hover-gray);
}

.pagination-control:active {
  opacity: 0.3;
}

.pagination-list {
  width: 80px;
  display: flex;
  min-width: 78px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list li {
  margin-left: 30px;
}

.pagination-list li:first-child {
  margin-left: 0;
}

.pagination-item:not(.active) {
  opacity: 0.3;
}

.range-controls {
  position: relative;
  padding-top: 34px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-gray-second);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-red);
}

.range-controls .pin {
  position: absolute;
  top: 24px;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: var(--alternative-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .pin-min {
  left: 0;
}

.range-controls .pin-max {
  left: 114px;
}

.price-controls {
  font-family: 'GilroyLight', 'Arial', sans-serif;
  width: 200px;
}

.price-controls input {
  width: 75px;
  background-color: transparent;
  border: 0;
}
