@font-face {
  font-family: 'GilroyLight';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

:root {
  --basic-black: #000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-gray: #464646;
  --basic-half-gray: #7E7E7E;
  --basic-gray-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-gray: #DCDCDC;
  --special-gray-light: #EBEBEB;
  --special-hover-gray: #D9D9D9;
  --special-input: #F2F2F2;
  --decoration-line: #FFC600;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  min-width: 1180px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: block;
  width: 220px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  z-index: 2;
}

.button::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 99%;
  height: 8px;
  left: 0;
  top: 7px;
  background-color: var(--special-yellow-dark);
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 58px;
  padding-right: 49px;
  background-color: var(--special-yellow);
}

.main-header .logo {
  margin-top: -20px;
  margin-bottom: 17px;
}

.logo svg:hover {
  opacity: 0.6;
}

.logo svg:active {
  opacity: 0.3;
}

.search-top {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.search-field {
  width: 100%;
  border: none;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 14px;
  padding-left: 38px;
  background-color: transparent;
}

.search-field::placeholder {
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus::placeholder {
  visibility: hidden;
}

.search-field:focus {
  border-bottom: 2px solid var(--basic-black);
}

.search-field:focus ~ .search-button {
  display: block;
}


.button {
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.button-custom {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'GilroyBold';
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 22px;
  width: 264px;
}

.search-button {
  display: none;
  padding:15px 17px;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  font-family: initial;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-menu li {
  list-style: none;
}

.user-menu {
  display: flex;
  
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style: none;
}

.user-menu a {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
}

.user-menu-card {
  width: 240px;
  padding-left: 14px;
}

.user-menu-card--compare svg {
  margin-right: 8px;
}

.user-menu-card li:first-child {
  padding-left: 0;
}

.user-menu-card svg {
  margin-top: 2px;
}

.user-menu-wrap {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}

.user-menu li:hover {
  opacity: 0.6;
}

.user-menu li:active {
  opacity: 0.3;
}

.user-login {
  width: 200px;
  margin-left: 99px;
}

.user-menu a {
  display: block;
  padding-left: 30px;
}

.user-menu-card--basket {
  position: relative;
}

li.user-menu-card--basket {
  padding-left: 35px;
}

.user-menu-card--basket::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon_cart.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.user-menu-card--compare::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_chart.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.user-login::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_user.svg');
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.sub-menu {
  display: flex;
  width: 540px;
  margin-top: 28px;
}

.sub-menu-list {
  padding: 0;
  margin-left: 63px;
}

.sub-menu-list li {
  margin-top: 8px;
}

.sub-menu-list a {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
}

.sub-menu-list li:first-child {
  margin-top: 0;
}

.sub-menu-list:first-child {
  margin-left: 0;
}

.top-navigation--first span {
  position: relative;
}

.top-navigation--first span::before {
  content: '';
  position: absolute;
  width: 15.4px;
  height: 15.4px;
  right: -33px;
  top: 3px;
  background-image: url('../img/plus.svg');
  opacity: 0.3;
}

.top-navigation {
  padding-bottom: 164px;
  margin-left: 2px;
}

.top-navigation > li:nth-child(2) {
  margin-right: 35px;
}

.top-navigation > li:last-child {
  margin-left: auto;
}

.site-navigation>li>a {
  font-family: 'GilroyBold', 'Arial';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 22px;
}

.site-navigation>li>.top-navigation--first{
  display: block;
  letter-spacing: 0.1em;
  width: 540px;
}

.site-navigation li:hover {
  opacity: 0.6;
}

.site-navigation li:active {
  opacity: 0.3;
}

.sliders {
  list-style: none;
}

.slider-header {
  margin: 0;
  padding: 0;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.slider-item {
  display: flex;
}

.slider-content {
  margin-left: auto;
  width: 500px;
}

.slider-text {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  line-height: 20px;
}

.sliders .button {
  margin-top: 60px;
}

.slider-params {
  margin-top: 60px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.slider-params-title {
  margin: 0;
  font-family: 'GilroyLight', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.1em;
  font-size: 36px;
  line-height: 42px;
}

.slider-params-text {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
}

.popular {

  margin-top: 76px;
}

.popular-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}

.popular-link {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.services {
  margin-top: 49px;
  background-color: var(--basic-gray-light);
  list-style: none;
}

.services .container {
  display: flex;
}

.service-navigation,
.service-list {
  list-style: none;
}

.service-navigation {
  margin: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 30px;
}

.service-list {
  width: 560px;
  margin-left: 116px;
}

.service-title {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-text {
  font-family: 'OpenSans';
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-item::before {
  content: '';
  position: absolute;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
}

.service-item {
  display: none;
}

.service-item--active {
  display: block;
}

.service-delivery::before {
  background-image: url('../img/delivery.svg');
}

.service-warranty::before {
  background-image: url('../img/warranty.svg');
}

.service-loan::before {
  background-image: url('../img/credit.svg');
}

.brands-list {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  gap: 40px;
  list-style: none;
}

.brands-item {
  opacity: 0.3;
}

.brands-item:hover {
  opacity: 1;
}

.about-us {
  margin-top: 92px;
}

.about-us .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 127px;
  margin-bottom: 80px;
}

.info {
  width: 473px;
}

.info .button,
.main-contact .button {
  margin-top: 77px;
}

.main-contact {
  width: 560px;
}

.info h3,
.main-contact h3 {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info h3::before,
.main-contact h3::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;

  top: -57px;
  background-color: var(--basic-black);
}

.info p,
.main-contact p {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.info-list {
  margin: 0;
  padding: 0;
  margin-left: 32px;
  margin-top: 60px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.info-list li {
  margin-bottom: 15px;
}

.info-list li:last-child {
  margin-bottom: 0px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.logo-and-menu-wrapper {
  display: flex;
  margin-bottom: 28px;
}

.user-menu--footer {
  margin-left: auto;
  width: 336px;
  margin-top: 47px;
}

.user-menu-item--login,
.user-menu-item--chart {
  position: relative;
}

.user-menu--footer li {
  width: auto;
  margin-left: 35px;
}

.user-menu--footer li:first-child {
  margin: 0;
}

.user-menu--footer li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_user--yellow.svg');
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.user-menu--footer li:nth-child(2)::before {
  background-image: url('../img/icon-chart--yellow.svg');
  background-position: 8px 12px;
}

.user-menu--footer li:nth-child(3)::before {
  background-image: url('../img/icon-basket--yellow.svg');
  background-position: 8px 10px;
}


.address-and-menu-wrapper {
  display: flex;
}

.footer-address {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  width: 240px;
}

.main-footer .site-navigation {
  flex-wrap: wrap;
  width: 682px;
  justify-content: center;
}

.main-footer .container {
  width: 1165px;
}

.main-footer .site-navigation li {
  margin-left: 34px;
}

.main-footer .site-navigation li:first-child {
  margin-left: 0px;
}

.main-footer .footer-tel {
  width: 189px;
  text-align: right;
  display: block;
  margin-left: 50px;
}

.main-footer .logo {
  margin-top: 70px;
}

.main-footer,
.main-footer a {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.decoration-line {
  width: 80px;
  height: 7px;
  margin-top: 27px;
  background-color: var(--decoration-line);
}

.social { 
  display: flex;
  width: 960px;
  justify-content: center;
  list-style-type: none;
}

.social-wrapper {
  margin-top: 49px;
  display: flex;
}

.social-item {
  margin-left: 19px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-item svg {
  opacity: 0.3;
}

.social-item svg:hover {
  opacity: 1;
}

.social-item svg:active {
  opacity: 0.1;
}

.developer {
  margin-left: 93px;
  padding-top: 14px;
}

.developer img:hover {
  opacity: 0.6;
}

.developer img:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  justify-content: center;
}

.modal-map {
  z-index: 2;
  width: 994px;
  min-height: 554px;
 
  margin-left: -497px;
  margin-top: -277px;

  
}

.modal-form {
  display: flex;
  width: 960px;
  min-height: 550px;
  margin-left: -480px;
  margin-top: -275px;

  background-color: var(--basic-white);
}

.modal .button--close {
  cursor: pointer;
  position: absolute;
  border: 0;
  font-size: 0;
  right: 30px;
  top: 30px;

  width: 55px;
  height: 55px;
  background-image: url('../img/modal-close.svg');
  background-color: transparent;
  opacity: 0.3;
}

.modal .button--close:hover {
  opacity: 1;
}

.modal .button--close:active {
  opacity: 0.7;
}

.modal-form {
  display: none;
}

.modal-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 92px;
}

.modal-form .first-block {
  display: flex;
  justify-content: space-between;
}

.modal-form label {
  font-family: 'GilroyBold', 'OpenSans', 'Arial';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.modal-form input,
.modal-form textarea {
  padding: 16px 20px;
  width: 100%;
  border: 0;
  background-color: var(--special-input);
}

.modal-form .container {
  width: 760px;
  margin: 0 auto;
}

.first-block p {
  width: 360px;
}

.modal-button {
  border: 0;
  background:transparent;
}


.breadcrumb-title {
  margin: 0;
  padding: 0;
  margin-top: 44px;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;

  list-style: none;
}

.breadcrumb-item {
  position: relative;
  margin-left: 40px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumb-item:first-child {
  margin-left: 0;
}

.breadcrumb-item:hover {
  opacity: 0.6;
}

.breadcrumb-item:active {
  opacity: 1;
}

.breadcrumb-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -22px;
  background-image: url('../img/nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;

  width: 4px;
  height: 7px;
}

.sorting-left {
  background-color: var(--special-gray);
}

.header-filter-title {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.sorting {
  display: flex;
  background-color: var(--basic-gray-light);
}

.sorting-top {
  display: grid;
  grid-template-columns: 268px 1fr;
}

.sorting-list {
  display: flex;
  list-style-type: none;
}

.sorting-option button {
  background-color: transparent;
  border: none;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;

  opacity: 0.3;
}

.sorting-option button:hover {
  opacity: 0.6;
}

.sorting-option button:active {
  opacity: 1;
}

.sorting-direction-item:first-child .sorting-btn {}

.sorting-arrow a {
  display: block;
  background-repeat: no-repeat;
}

.sorting-list--arrow {
  margin-left: auto;
}

.sorting-arrow .active {
  opacity: 0.2;
}

.sorting-arrow:hover {
  opacity: 0.4;
}

.sorting-arrow:active {
  opacity: 1;
}

.sorting-up {
  background-image: url('../img/icon-up-dir.svg');
}

.sorting-down {
  background-image: url('../img/icon-down-dir.svg');
}

.sorting-btn {
  width: 20px;
  height: 20px;
}

.left-filter {
  position: relative;
  display: flex;
  width: 268px;
  padding-right: 68px;
  background-color: var(--basic-gray-light);
}

.filter-section {
  font-size: 14px;
  line-height: 19px;
  border: none;
}

.filter-section-list {
  list-style-type: none;
}

.filter-section legend {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 17px;

  border-top: 2px solid var(--basic-black);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 267px 1fr;
}

.catalog-modal {
  display: none;
}

.main-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 876px;
  padding-left: 72px;
  font-family: 'GilroyLight', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.05em;
}

.catalog-item {
  margin-right: 40px;
  width: 360px;
}

.catalog-items-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog-item-title {
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 18px;
}

.pagination {
  display: flex;
  width: 100%;
  padding: 30px 25px;
  margin-top: 40px;
  margin-bottom: 78px;
  justify-content: center;
  font-family: 'GilroyBold', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  background-color: var(--special-gray-light);
}

.pagination-back {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-control:hover {
  background-color: var(--special-hover-gray);
}

.pagination-control:active {
  opacity: 0.3;
} 

.pagination-list {
  margin:0;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-list li {
  margin-right: 30px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-item:not(.active) {
  opacity: 0.3;
}